requests~=2.25.1
sqlalchemy
psycopg2-binary
urllib3~=1.26.4
flask
flask_apscheduler
targetoss_tappy~=0.9.6
--index-url https://binrepo.target.com/artifactory/api/pypi/pypi-remote/simple
--extra-index-url https://binrepo.target.com/artifactory/api/pypi/tgt-python/simple